
   :root{

    --color-principal: #A82624;
    --color-white: #ffffff;
    --color-black: #000;  
    --color-gray: #8b8787;
   }
   
   
   *{
      box-sizing: border-box;
      margin:0;
      padding:0;
    }

    
    /* Add background image to the body */
    body {
      background-image: url('/img/background-image.jpg');      
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-color: #000;
      color: var(--color-white);
      /* Additional styles for better readability */
    }

    a{
      text-decoration: none;
    }

    

    .menu-btn{
      color: var(--color-gray);
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 30px;
      z-index: 2;
      display: none;
      font-size: 25pt;
    }


    .nav-container{
      background: rgb(250, 250, 250);
      box-shadow: -1px 2px 12px -4px rgba(0,0,0,0.9);
      margin: 0px auto;
      overflow: hidden;
      padding: 0px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;     
    }

    .nav-main{
      
      align-items: center;
      display:flex;
      font-size: 17px; 
      
      justify-content: space-around;
      padding:  20px 20px;  
      flex-wrap: wrap;   
    }

    .nav-logo{
      width: 250px;
      }

    .nav-main ul{
      display: flex;
      list-style: none;
    }

    .nav-main ul li{
      padding: 8px;
    }

    .nav-main ul li a {
      float: left;
      padding: 0px;
      color: var(--color-gray);
      text-decoration: none;
    }

    .nav-main ul li a:hover {
      /* border-bottom: 4px double var(--color-black); */
      color: var(--color-principal);
    }

    .nav-main ul.nav-menu{
      margin: 0 0;
      padding: 0;
    }


    /* media Query */

    @media (max-width:1100px) {
    .menu-btn{
      display: block;
    }
    
      .nav-main ul.nav-menu{
      background: var(--color-principal);
      
      display: block;
      height: 100%;
      left: 0;
      opacity: 1;
      padding: 30px;
      position: FIXED;
      top: 0;
      z-index: 2;
      transform: translateX(-400px);
      transition: transform 0.5s ease-in-out;
    }

    .nav-main ul.nav-menu.show{
      transform: translateX(-10px);
    }

    .nav-main ul.nav-menu li{      
      font-size: 17px;
      padding: 14px;
    }

    a {  
      color: var(--color-white);
      text-decoration: none;
    }
  }


  .hero{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%;
    height: auto;
    background-color: #b9b9b9;
    opacity: 0.9;   
  }

  .hero img{
    width: 40%;
    max-height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
  } 

  .gral-background{
    margin-top: 20px;
    max-width: 60%;
  } 

    .clear{
      clear: both;
    }

    .section{ 
      background-color: var(--color-black);
      border: 2px double var(--color-principal);
      margin: 20px auto;  
    }

    /* Resize carousel images */
  .carousel-item img {
    max-width: 60%; /* Limit the maximum width */
    height: auto; /* Maintain aspect ratio */
    margin: auto; /* Center the image horizontally */
    object-fit: cover;
  }


  h2{
    color: white;
  }

  p{
    color: white;
  }

  .card{    
    margin: auto;
    position: relative;    
  }

  .card-body{       
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color:firebrick;
    color: #fff;
  }
 
  .info-box {
    position:absolute;
    top: 50%;
    left: 74%;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 50px;
    background-color: var(--color-principal);
    border-radius: 0px;
    width: 50%;
    height:97%; /* Adjust the width as needed */
    border: 2px double #000; 
    overflow: auto; /* Add overflow scrolling */  
    overflow-x: hidden; 
  }

  /*Titulos*/
  .info-box h2 {
    margin-bottom: 10px;
    font-size: 22px;
    overflow-wrap: break-word; /* Allow long words to break */
    text-transform: uppercase;
    white-space: nowrap; /* Prevent text from wrapping */
  }

  /*Subtitulos*/
  .info-box h3 {
    margin-bottom: 10px;
    font-size: 16px;
    overflow-wrap: break-word; /* Allow long words to break */
    white-space: nowrap; /* Prevent text from wrapping */
  }

  .info-box p {
    font-size: 14px;
    overflow-wrap: break-word; /* Allow long words to break */
    white-space: normal; /* Allow text to wrap */
  }

  .img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
  }

  .image-container img {
    display: block; /* Make images block-level elements */
    margin: 10px auto; /* Add margin to center images vertically */
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto; /* Maintain aspect ratio */
  }



  
